# Assignment 16:

#### Q1:

#### I. Create a list called 'years_list', starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

#### II. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

#### III. In the years list, which year were you the oldest?

#### A1.I:

In [13]:
years_list = []
birth_year = int(input("Enter your birth year:"))
for i in range(6):
    years_list.append(birth_year)
    birth_year+=1
print("Your next five birthdays and your birth year are: ",years_list)

Enter your birth year:1995
Your next five birthdays and your birth year are:  [1995, 1996, 1997, 1998, 1999, 2000]

#### A1.II:

In [14]:
print("Your third birthday would be in",years_list[3])

Your third birthday would be in 1998

#### A1.III:

In [15]:
print("You would be the oldest (of the five years in the list)in",years_list[-1])

You would be the oldest (of the five years in the list)in 2000

#### Q2:

#### I. Make a list called 'things' with these three strings as elements: "mozzarella", "cinderella", "salmonella".

#### II. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

#### A2.I:

In [19]:
things = ["mozzarella", "cinderella", "salmonella"]
print("The list with the three strings is:",things)

The list with the three strings is: ['mozzarella', 'cinderella', 'salmonella']

#### A2.II:

In [22]:
print("The element in things that refers to a person is",things[1].upper())

The element in things that refers to a person is CINDERELLA

#### Checking if the list has changed or not:

In [24]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

Since the list's elements haven't altered due to the capitalization, we can say that the list hasnot been changed.

#### Q3: 

#### I. Make a list named 'surprise' with the elements "Groucho," "Chico," and "Harpo."

#### II. Lowercase the last element of the list 'surprise', reverse it, and then capitalize it.



#### A3.I:

In [25]:
surprise = ["Groucho","Chico","Harpo"]
print("The list is:",surprise)

The list is: ['Groucho', 'Chico', 'Harpo']

#### A3.II

In [30]:
element = surprise[-1].lower()
print("The last element after lowercasing, reversing and capitalizing it are:",element[::-1].upper())

The last element after lowercasing, reversing and capitalizing it are: OPRAH

#### Q4.

#### I. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

#### II. Write the French word for walrus in your three-word dictionary e2f.

#### A4.I:

In [90]:
e2f = {'Dog':'Chien' , 'Cat':'Chat' , 'Walrus':'Morse'}
print("The English-to-French dictionary called e2f is:",e2f)

The English-to-French dictionary called e2f is: {'Dog': 'Chien', 'Cat': 'Chat', 'Walrus': 'Morse'}

#### A4.II:

In [91]:
print("The French word for walrus the dictionary is -",list(e2f.values())[-1])

The French word for walrus the dictionary is - Morse

#### Q5: 
#### I. Make a French-to-English dictionary called f2e from e2f. Use the items method.

#### II. Print the English version of the French word chien using f2e.

#### III. Make and print a set of English words from the keys in e2f.

#### A5.I:

In [92]:
f2e = {}
for val,key in e2f.items():
    f2e[key] = val
print(f2e)

{'Chien': 'Dog', 'Chat': 'Cat', 'Morse': 'Walrus'}

#### A5.II:

In [95]:
i = 1
for val,key in f2e.items():
    print(str(i)+str("."),val,"in French is",key,"in English.")
    i+=1

1. Chien in French is Dog in English.
2. Chat in French is Cat in English.
3. Morse in French is Walrus in English.

#### A5.III:

In [99]:
print("All the English words in the dictionary are:",list(f2e.values()))

All the English words in the dictionary are: ['Dog', 'Cat', 'Walrus']

#### Q6:

#### Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

#### I. Print the top-level keys of life.

#### II. Print the keys for life['animals'].

#### III. Print the values for life['animals']['cats']

#### A6

In [113]:
life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'],'octopi': '','emus': '',},
    'plants': '',
    'other': ''
    }
print("The dictionary, 'life' is:\n",life)

The dictionary, 'life' is:
 {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''}, 'plants': '', 'other': ''}

#### A6.I:

In [129]:
print("All the top level keys in the dictionary 'life' are:\n",list(life.keys()))

All the top level keys in the dictionary 'life' are:
 ['animals', 'plants', 'other']

#### A6.II:

In [121]:
print("The keys in 'animals' are: ")
for key in life["animals"]:
    print(key,end=" ")

The keys in 'animals' are:
cats octopi emus

#### A6.III:

In [122]:
print("The data in 'cat's is:",life['animals']['cats'])

The data in 'cat's is: ['Henri', 'Grumpy', 'Lucy']