#### Q1: 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

#### A1:

In [1]:
import os
test1 = 'This is a test of the emergency text system'
file = open('test.txt', 'w')
file.write(test1)
file.close()

#### Q2: 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

#### A2:

In [2]:
test2 = open('test.txt','r')
for i in test2: print(i)
print(test1)

This is a test of the emergency text system
This is a test of the emergency text system

There is no change between 'test1' and 'test2'.

#### Q3: Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

#### A3:

In [3]:
string="""
title,author,year\n
The Weirdstone of Brisingamen,Alan Garner,1960\n
Perdido Street Station,China Miéville,2000\n
Thud!,Terry Pratchett,2005\n
The Spellman Files,Lisa Lutz,2007\n
Small Gods,Terry Pratchett,1992
"""
import os
file = open('book.csv', 'w')
file.write(string)
file.close()
file = open("book.csv",'r')
for i in file: print(i)

title,author,year



The Weirdstone of Brisingamen,Alan Garner,1960



Perdido Street Station,China Miéville,2000



Thud!,Terry Pratchett,2005



The Spellman Files,Lisa Lutz,2007



Small Gods,Terry Pratchett,1992

#### Q4: Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

#### A4:

In [4]:
import sqlite3
con = sqlite3.connect('example.db')
cur = con.cursor()
cur.execute('CREATE TABLE books (title text, author text, year int)')
cur.commit()

OperationalError: table books already exists

#### Q5: Read books.csv and insert its data into the book table.

#### A5:

In [5]:
cur.execute("INSERT INTO books VALUES ('50 Shades Of Grey','EL James',2008)")
cur.execute("INSERT INTO books VALUES ('Hello Girl','Emily Dickinson',1783)")
cur.execute("INSERT INTO books VALUES ('Into The Darkness','R Stien',2000)")
cur.execute("INSERT INTO books VALUES ('Poision Ivy and the adeventures of one Harleene Quinnzel','James Ballerina',2015)")

#### Q6: Select and print the title column from the book table in alphabetical order.

#### A6:

In [6]:
for row in cur.execute('SELECT * FROM books ORDER BY title'):print(row)

('50 Shades Of Grey', 'EL James', 2008)
('Hello Girl', 'Emily Dickinson', 1783)
('Into The Darkness', 'R Stien', 2000)
('Poision Ivy and the adeventures of one Harleene Quinnzel', 'James Ballerina', 2015)

#### Q7: From the book table, select and print all columns in the order of publication.

#### A7:

In [7]:
for row in cur.execute('SELECT * FROM books ORDER BY year'):print(row)

('Hello Girl', 'Emily Dickinson', 1783)
('Into The Darkness', 'R Stien', 2000)
('50 Shades Of Grey', 'EL James', 2008)
('Poision Ivy and the adeventures of one Harleene Quinnzel', 'James Ballerina', 2015)

#### Q8: Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

#### A8:

In [8]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

#### Q9: Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

#### A9:

In [14]:
import redis
import pyodbc
import sqlalchemy as sal
from sqlalchemy import create_engine
import pandas as pd
r_conn = redis.Redis( host='localhost', port=6379)
r_conn.set('name', 'amalgjose')
value = r_conn.get('name')
print("Value from Redis -->", value)

ModuleNotFoundError: No module named 'redis'

#### Q10: Increment the count field of test and print it.

#### A10: